header {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumb {
    border-radius: 0;
    margin: 0;
    background: transparent;
    padding: 0;
}
.bread h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.breadcrumb li a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.breadcrumb li a.active {
    color: #3aa6fe;
}
.sidebar .search-form {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.sidebar .search-form input {
    height: 44px;
    border-radius: 25px;
    border: 1px solid #3aa6fe;
}
.sidebar .search-form .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: #3aa6fe;
    color: #fff;
    border-color: #3aa6fe;
    position: absolute;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 0 15px;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: auto;
}
.sidebar .sidebar-widget {
    padding: 20px 0;
}
.sidebar .sidebar-widget h4 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 20px;
}
.sidebar .categories-widget ul li {
    padding: 3px 0;
}
.sidebar .categories-widget ul li a {
    padding: 10px;
    background: #f3f3f3;
    display: block;
    color: #3aa6fe;
}
.sidebar .tags-widget ul li {
    display: inline-block;
    line-height: 50px;
}
.sidebar .categories-widget ul li a span {
    float: right;
    background: #3aa6fe;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    height: 25px;
    width: 25px;
    margin-top: -1.5px;
    text-align: center;
}
.sidebar .recent-posts-widget ul li {
    display: table;
    margin-bottom: 20px;
    background: #f6f6f6;
    padding: 15px 30px 0 0;
}
.sidebar .recent-posts-widget .recent-post-img {
    float: left;
    width: 80px;
    height: 80px;
}
.sidebar .recent-posts-widget .recent-post-description {
    display: table-cell;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;
}
.sidebar .recent-posts-widget .recent-post-description h3 {
    font-size: 15px;
    margin: 0;
}
.sidebar .recent-posts-widget .recent-post-description h3 a {
    color: #3aa6fe;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.sidebar .archives-widget ul li a, .sidebar .meta-widget ul li a {
    color: #3aa6fe;
    padding: 5px 0;
    display: block;
}
.sidebar .tags-widget ul li a {
    background: #3aa6fe;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    margin: 5px;
    padding: 10px 15px;

}
.pagination {
    margin: 40px 0 20px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 8px 20px;
}
.pagination>li>a, .pagination>li>span {
    padding: 8px 15px;
    color: #3aa6fe;
    border-color: #3aa6fe;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #3aa6fe;
    border-color: #3aa6fe;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px 20px;
}




.single-blog .blog-box h3{
    color:#3aa6fe;
    font-size:18px;
    text-transform:uppercase;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:block
}
.single-blog p{
    line-height:25px;
    font-size:13px
}
blockquote{
    margin:26px 40px;
    border-left-color:#3aa6fe;
    background:#f3f3f3
}
blockquote p{
    font-style:italic;
    margin:0!important
}
.comments-container{
    padding:50px 0 20px
}
.comments-container h3{
    font-size:20px;
    margin:0 0 20px
}
.comments-container .comments-list{
    display:block
}
.comments-container .comments-list li{
    background:#f3f3f3;
    position:relative;
    padding-left:110px;
    padding-right:15px;
    margin-bottom:15px;
    min-height:120px
}
.comments-container .comments-list li .avatar{
    width:80px;
    height:80px;
    position:absolute;
    top:20px;
    left:15px;
    border-radius:50%;
    overflow:hidden
}
.comments-container .comments-list li .comment{
    padding:20px 0
}
.comments-container .comments-list li .comment h4{
    margin:0 0 20px;
    font-weight:600
}
.comments-container .comments-list li .comment h4 span{
    font-size:13px;
    margin-left:15px;
    font-style:italic;
    font-weight:400
}
.comments-container .comments-list li .comment p{
    margin:0
}
.comments-container .comments-list li ul.chiled{
    border-top:2px dashed #e2e2e2
}
.comments-form h3{
    font-size:20px;
    margin:0 0 20px
}
.comments-form .form-control{
    height:50px;
    padding:10px 15px;
    background:#f9f9f9;
    border:none;
    border-radius:0;
    color:#2a3b71;
    letter-spacing:2px;
    font-weight:300;
    box-shadow:none;
}
.comments-form .form-control:focus{
    box-shadow:0 0 5px rgba(0,0,0,.18)
}
.comments-form textarea.form-control{
    height:auto
}
.comments-form input::-webkit-input-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form input::-moz-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form input:-ms-input-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form input:-moz-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form textarea::-webkit-input-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form textarea::-moz-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form textarea:-ms-input-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form textarea:-moz-placeholder{
    font-style:italic;
    color:#8c8c8c!important
}
.comments-form .btn-default {
    border-radius: 0;
    background: #3aa6fe;
    border: none;
    margin: 20px 0;
    font-weight: 600;
    padding: 12px 32px;
    color: #fff;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .plan, .blog-body {
        margin: 0 !important;
    }
}